@import '../../../variables';

:host
{
    display: flex;
    justify-content: end;
}

.left-content
{
    width: 70%;
    padding: 3.5rem;

    background-color: $secondary-color;

    border-radius: 1.5rem;
}