<div class="left-content">
  <h1>Koło naukowe AI</h1>
  
      <h2>O nas</h2>
      <p>
        Witaj w AI Science Club, społeczności, która eksploruje fascynujący świat
        sztucznej inteligencji (AI) i uczenia maszynowego (ML). Bez względu na to,
        czy jesteś doświadczonym ekspertem, studentem czy ciekawskim pasjonatem,
        naszym celem jest stworzenie platformy do nauki i dzielenia się wiedzą na
        temat najnowszych rozwojów i innowacji w dziedzinie AI i ML.
      </p>
  
      <h2>Co oferujemy</h2>
      <p>
        Cotygodniowe spotkania! Dołącz do nas co tydzień, aby zgłębiać zasady AI,
        algorytmy ML, pogłębiać dyskusje, uczestniczyć w praktycznych warsztatach
        i wiele więcej. Zgromadzimy ekspertów z różnych dziedzin, badaczy i
        entuzjastów, aby zapewnić angażującą społeczność, w której ciągle się
        uczymy i rozwijamy.
      </p>
  
      <h2>Projekty i konkursy</h2>
      <p>
        Projekty i konkursy! Zachęcamy naszych członków do prowadzenia projektów
        indywidualnie lub w zespołach. Dzięki temu każdy może zastosować swoje
        umiejętności w AI i ML w praktycznych sytuacjach.
      </p>
  
      <h2>Dołącz do nas</h2>
      <p>
        Zainteresowany dołączeniem do AI Science Club? Wejdz w formularz
        zgłoszeniowy oraz śledź nas na mediach społecznościowych, aby być na
        bieżąco. Ponadto, zawsze szukamy pasjonatów, którzy pomogą nam w
        prowadzeniu inicjatyw związanych z AI i ML. Jeśli chcesz wnieść swoje
        pomysły, prowadzić warsztaty, podzielić się swoimi projektami lub
        zaoferować swoją wiedzę, nie wahaj się skontaktować z nami.
      </p>
  
      Zapraszamy do wspólnego odkrywania świata AI i ML!
</div>